select,
textarea{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:8px;
font-size:16px;
}

textarea{
height:150px;
resize:none;
}

.profile-card{
background:#0f172a;
padding:20px;
border-radius:10px;
margin-top:20px;
}

.notes-box{
background:#334155;
padding:20px;
border-radius:10px;
margin-top:20px;
line-height:1.7;
}
